<div class="container">
	<div class="row">
		<div class="col-sm-4">
		</div>
		<div class="col-sm-4 text-center">
			<h1 style="font-size: 50px; color:RoyalBlue">News</h1>
			<br/>
		</div>
		<div class="col-sm-4">
		</div>
	</div>
</div>


<% memos.forEach(function(memo){ %>
	<div class="container">
		<div class="row" style="text-align: center">
			<div class="col-sm-1" >
			</div>
			<div class="col-sm-2" style="text-align:center;">
				<div class="row" style="font-size:45px; width: 100px; height: 50px; display: inline-block">
					<div style="text-align: center;   ">
						<div style="text-align: center; color: RoyalBlue">
							<%= memo.date.getDate() %>
						</div>
					</div>
				</div>
				<br>
				<div class="row" style="height: 40px; font-size: 20px; display: inline-block;">
					<div style="text-align: center; ">
						<div style="text-align: center; color: RoyalBlue">
						<% months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] %>
							<%= months[memo.date.getMonth()] %>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-1">
			</div>
			<div class="col-sm-8">
				<div style="margin-right: 7em; text-align: left; word-break: break-word;">
					<%- memo.body %>
				</div>
			</div>
		</div>
		<br>
		<br>
	</div>

<%})%>


	