<div class="container">
	<div class="row" style="height:100px; text-align: center">
		<div class="col-sm-1" >
		</div>
		<div class="col-sm-2" style="text-align:center; display: inline-block;">
			<div class="row" style="font-size:45px; width: 100px; height: 50px; text-align: center; display: inline-block;">
				<div style="text-align: center; display: inline-block; ">
					<div style="display: inline-block; color: RoyalBlue">
						25
					</div>
				</div>
			</div>
			<div class="row" style="width:100px; height: 25px; font-size:20px">
				<div style="padding-bottom: 0px; margin-top: 0px">
					<div style="color: RoyalBlue">
						December
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-1">
		</div>
		<div class="col-sm-7">
			<div class="align-top row" style="min-height:100; text-align: left">
				<div style="margin-top: 14px; display: inline-block;">
				We're meeting this Sunday to discuss our plot for world domination. Susan will be 
				bringing cookies! All latecomers will be vaporized.
				</div>
			</div>
		</div>
		<div class="col-sm-1">
		</div>
	</div>
</div>